/*  seccion de estilos de fondo para la pagianweb */
body{
    background-color: rgb(255, 255,255,0.6);
    background-image: url(../img-20230302T124051Z-001/img/natacion.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity;
}
/*  seccion de estilos CSS3 para la cabecera pagina web */
header{
    background: rgba(255, 255, 255,0.6);
    border: 2px solid blue;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;/*direccion horizontal o en fila*/
    justify-content: center;/*alinea horizontalmente*/
    align-items: center;/*alinea verticalmente*/
    backdrop-filter: blur(5px);
}
header img{
    padding: 15px;
}
/* seccion de estilos CSS3 para la barra de menu pagina web */
nav{
    background-color: blue;
    border:2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin:5px;
}
nav ul{
    padding: 0 0;
    margin: 0 1px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 0 5px;
    font: bold 12px verdana;
}
/* seccion de estilos  CSS3  para seccion principal pagina web */
section{
    width: 40%;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 10px auto;
    background: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(5px);
}
form{
    background: silver;
    width: 70%;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: inset 0 0 10px purple;

}
fieldset{
    border-style: none;
}
label{
    font-size: 18px;
}
textarea{
    resize: both;
    max-height: 100px;
}
input:focus, textarea:focus{
    border-color: rgb(20, 0, 255);
    cursor: pointer;
    box-shadow: inset 0 0 8px rgba(0, 29,255,0.6);
    outline: 0 none;
}
form button{
    width: 40px;
    margin: 15px 0px 20px 25px;
}